<div class="container">
  <button md-button [routerLink]="'/home/'">Go Home</button> 
  <h1>New Flashcard Form</h1>
  
  <form>
    
    <!-- <div class="form-group">
      <label for="word">Word</label>
      <input type="text" class="form-control" id="word" [(ngModel)]="word" name="word">
    </div> -->
    
    <!-- <table class="example-full-width" cellspacing="0"><tr> -->
    <md-input-container class="example-full-width">
      <input mdInput id="word" required [(ngModel)]="word" name="word" placeholder="Word">
    </md-input-container>
    
    <md-input-container class="example-full-width">
      <input mdInput id="translation" required [(ngModel)]="translation" name="translation" placeholder="Translation">
    </md-input-container>
  <!-- </tr></table> -->
    
    <!-- <div class="form-group">
      <label for="translation">Translation</label>
      <input type="text" class="form-control" id="translation" required [(ngModel)]="translation" name="translation">
    </div> -->
    <h5>Word: {{word}}</h5>  
    <h5>Translation: {{translation}}</h5>
    <button md-raised-button type="submit" (click)="dialogRef.close({word:word,translation:translation})" class="btn btn-success">Submit</button>
  </form>
  
</div>
